<h1 class="page-header">Registration Page</h1>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Registration Form -->
<form [formGroup]="form" (submit)="onRegisterSubmit()">

  <!-- Username Input -->
  <div class="form-group">
    <label for="username">Username</label>
    <div [ngClass]="{
       'has-error': (username.errors && username.dirty)
          || (!usernameValid && username.dirty),
       'has-success': (!username.errors && usernameValid)}">
      <input type="text" name="username"
             class="form-control" autocomplete="off"
             placeholder="*Username" formControlName="username"
            (blur)="checkUsername()"/>
    </div>

    <ul class="help-block">
      <li *ngIf="username.errors?.required && username.dirty">
        This field is required
      </li>
      <li *ngIf="username.errors?.minlength && username.dirty">
        Minimum characters: {{username.errors?.minlength.requiredLength}}
      </li>
      <li *ngIf="username.errors?.maxlength && username.dirty">
        Maximum characters: {{username.errors?.maxlength.requiredLength}}
      </li>
      <li *ngIf="username.errors?.validateUsername && username.dirty"
      >
        Username should only contains letters and/or digits
      </li>
      <div *ngIf="usernameMessage">
        {{ usernameMessage }}
      </div>
    </ul>
  </div>

  <!-- Email Input -->
  <div class="form-group">
    <label for="email">Email</label>
    <div [ngClass]="{
       'has-error': (email.errors && email.dirty)
          || (!emailValid && email.dirty),
       'has-success': (!email.errors && emailValid)}">
      <input type="text" name="email"
             class="form-control" autocomplete="off"
             placeholder="*Email" formControlName="email"
            (blur)="checkEmail()"/>
    </div>
    <ul class="help-block">
      <li *ngIf="email.errors?.required && email.dirty">
        This field is required
      </li>
      <li *ngIf="email.errors?.minlength && email.dirty">
        Minimum characters: {{email.errors?.minlength.requiredLength}}
      </li>
      <li *ngIf="email.errors?.maxlength && email.dirty">
        Maximum characters: {{email.errors?.maxlength.requiredLength}}
      </li>
      <li *ngIf="email.errors?.validateEmail && email.dirty">
        Please enter a valid email
      </li>
      <div *ngIf="emailMessage">
        {{ emailMessage }}
      </div>
    </ul>
  </div>

  <!-- Password Input -->
  <div class="form-group">
    <label for="password">Password</label>
    <div [ngClass]="{
       'has-error': (password.errors && password.dirty),
       'has-success': !password.errors}">
      <input type="password" name="password"
             class="form-control" autocomplete="off"
             placeholder="*Password" formControlName="password"/>
    </div>
    <ul class="help-block">
      <li *ngIf="password.errors?.required && password.dirty">
        This field is required
      </li>
      <li *ngIf="password.errors?.minlength && password.dirty">
        Minimum characters: {{password.errors?.minlength.requiredLength}}
      </li>
      <li *ngIf="password.errors?.maxlength && password.dirty">
        Maximum characters: {{password.errors?.maxlength.requiredLength}}
      </li>
      <li *ngIf="password.errors?.validatePassword && password.dirty">
        Must have at least one uppercase, lowercase, special character, and number
      </li>
    </ul>
  </div>

  <!-- Confirm Password Input -->
  <div class="form-group">
    <label for="confirm">Confirm Password</label>
    <div [ngClass]="{
       'has-error': (confirm.errors && confirm.dirty) || (form.errors?.matchingPasswords),
       'has-success': !confirm.errors && !form.errors?.matchingPasswords
       }">
      <input type="password" name="confirm"
             class="form-control" autocomplete="off"
             placeholder="*Confirm Password" formControlName="confirm"/>
    </div>

    <ul class="help-block">
      <li *ngIf="confirm.errors?.required && confirm.dirty">
        This field is required
      </li>
      <li *ngIf="form.errors?.matchingPasswords && confirm.dirty && confirm.value">
        Passwords do not match
      </li>
    </ul>

  </div>

  <!-- Submit Input -->
  <input [disabled]="!form.valid || processing || !emailValid || !usernameValid"
         type="submit" class="btn btn-primary" value="Submit" />

</form>
<!-- Registration Form /-->
